.o-zalo-thread-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-left: 2px;
}

.o-zalo-message-icon {
    width: 14px;
    height: 14px;
    object-fit: contain;
}

.o-zalo-im-status {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.o-zalo-DiscussSidebarCategory {
    .o-mail-DiscussSidebarCategory-title {
        font-weight: 600;
    }
}